@model AllHotelQueryModel
@{
    ViewBag.Title = "All Hotels";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="HotelsSorting"></label>
                <select asp-for="HotelsSorting" class="form-control">
                    <option value="0">Newest</option>
                    <option value="1">Lowest price first</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="PeopleSorting"></label>
                <select asp-for="PeopleSorting" class="form-control">
                    <option value="0">One person</option>
                    <option value="1">Two people</option>
                    <option value="2">Three people</option>
                    <option value="3">Four or more people</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="RoomsSorting"></label>
                <select asp-for="RoomsSorting" class="form-control">
                    <option value="0">One room</option>
                    <option value="1">Two rooms</option>
                    <option value="2">Three rooms</option>
                    <option value="3">Four or more rooms</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalHotelsCount /
        Model.HotelsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Hotel"
           asp-action="AllHotels"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-hotelsSorting="@((int)Model.HotelsSorting)"
           asp-route-peopleSorting="@((int)Model.PeopleSorting)"
           asp-route-roomsSorting="@((int)Model.RoomsSorting)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Hotels.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Hotel"
           asp-action="AllHotels"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-hotelsSorting="@((int)Model.HotelsSorting)"
           asp-route-peopleSorting="@((int)Model.PeopleSorting)"
           asp-route-roomsSorting="@((int)Model.RoomsSorting)">>></a>
    </div>
</div>
@if (!User.Identity.IsAuthenticated)
{
    <h2 class="text-danger">If you want to make reservationg you need to have an account.</h2>
}
@if (!Model.Hotels.Any())
{
    <h2 class="text-center">No hotels found by the given criteria!</h2>
}

<div class="row">
    @foreach (var hotel in Model.Hotels)
    {
        <partial name="_HotelPartial" model="@hotel" />
    }
</div>